{% extends "base.html" %}

{% block content %}
<h1>Объявления</h1>
{% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary">Добавить объявление</a>
{% endif %}
    <a href="/filter_new" class="btn btn-secondary">{{counter}} использованные</a>
  <form class="form-inline" method="POST">
      {{ form.hidden_tag() }}
      <p>
          {{ form.search_string(class="form-control mr-sm-2", type="search") }}
          {% for error in form.search_string.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
      </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
  </form>
<form class="form-inline" method="POST">
      {{ price.hidden_tag() }}
      <p>
          {{ price.min_price.label }}
          {{ price.min_price(class="form-control mr-sm-2", type="search")}}<br>
          {% for error in price.min_price.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
      </p>
    <p>
          {{ price.max_price.label }}
          {{ price.max_price(class="form-control mr-sm-2", type="search")}}<br>
          {% for error in price.max_price.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
      </p>
        <p>{{ price.submit1(type="submit", class="btn btn-primary") }}</p>
      <div>{{ message }}</div>
  </form>

{% for item in news%}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        <b>Автор</b> - {{item.user.name}}<br>
        {% set x = item.created_date %}
        {% set y = x.replace(microsecond=0) %}
        <!-- конец форматирования -->
        <b>Дата написания</b> - {{y}}<br>
        <b>Цена</b> - {{item.price}}<br>
        {% if item.is_used == True%}
        <b>Использованный</b> - Да
        {% endif %}
        {% if item.is_used == False%}
        <b>Использованный</b> - Нет
        {% endif %}
        {% if current_user.is_authenticated and (current_user == item.user  or current_user.getadmin())%}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
        {% endif %}
    <div>
        <a href="/news_view/{{ item.id }}" class="btn btn-info">
            Подробнее
        </a>
    </div>
    </div>
</div>
{% endfor %}
{% endblock %}